<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dxc.mapper.Test1Mapper">
    
    <resultMap type="com.dxc.entity.Test1" id="SysConfigResult">
    	<id     property="id"      column="id"      />
        <result property="name"    column="name"    />
    </resultMap>
    <select id="selectAll" resultMap="SysConfigResult">
        select * from test1
    </select>

    <insert id="insertTest1" parameterType="com.dxc.entity.Test1" useGeneratedKeys="true" keyProperty="id">
        insert into test1
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id_,</if>
            <if test="name != null">name_,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
        </trim>
    </insert>
    <update id="updateTest1" parameterType="com.dxc.entity.Test1">
        update student
        <trim prefix="SET" suffixOverrides=",">
            <if test="id != null">id_ = #{id},</if>
            <if test="name != null">name_ = #{name},</if>
        </trim>
            where id = #{id}
    </update>
    <delete id="deleteTest1ById" parameterType="Long">
        delete from test1 where id = #{id}
    </delete>
</mapper>